/* @media only screen and (min-width: 1350px) {
  html,
  body {
    max-width: 1350px;
    margin: 0 auto;
    background-color: #333;
  }

} */

html,
body {
 /*  max-width: 1350px; */
  margin: 0 auto;
  background: linear-gradient(90deg, #06113a 0%, #622063 100%);
  cursor: url(https://cdn.custom-cursor.com/db/cursor/32/Soccer_Ball_Cursor.png) , default!important; 
}

.slick-prev,
.slick-next {
  display: none !important;
}




